@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-image: url('');
  background-color: #d4e9e2;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}
